<div class="show-container">
  <div class="show-header"><%= @mechanic.name %></div>
  <div class="show-information">Years of experience: <%= @mechanic.years_experience %></div>
  <div class="show-information">
    <div class="show-information-header">Rides this mechanic is working on:</div>
    <ol id="mechanic-rides">
      <% @mechanic.rides.each do |ride| %>
        <li>
          <%= ride.name %>
        </li>
      <% end %>
    </ol>
  </div>
  <%= form_with url: "/ride_mechanics", method: :post, class: "add-ride-form" do |form| %>
    <div class="form-header">Add a ride to workload:</div>
    <%= form.label :ride_id, "Ride ID: " %>
    <%= form.text_field :ride_id %>
    <%= form.hidden_field :mechanic_id, value: @mechanic.id %>
    <%= form.submit "submit" %>
  <% end %>
</div>